@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');

/* General */

html {
  font-size: 2px;
}

body {
  font-family: 'Roboto Mono', monospace;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

button,
button:active {
  background-color: rgb(234,178,156);
  border: none;
  width: 10.5rem;
  height: 10rem;
  border-radius: 100%;
  text-align: center;
  box-shadow: 0.2em 0.2em rgb(194, 91, 44);
  -webkit-box-shadow: 0.2em 0.2em rgb(194, 91, 44);
  -moz-box-shadow: 0.2em 0.2em rgb(194, 91, 44);
}

button:focus {
  translate: 0.2em 0.2em;
  box-shadow: 0.2em 0.2em rgb(194, 91, 44) inset;
  -webkit-box-shadow: 0.2em 0.2em rgb(194, 91, 44) inset;
  -moz-box-shadow: 0.2em 0.2em rgb(194, 91, 44) inset;
}

/* Clock Body */

.clock-container {
  background-color: rgb(240, 240, 190); 
  width: 87.5rem;
  border-radius: 5rem;
  padding: 7.5rem;
  box-shadow: 2.5rem 2.5rem sienna;
}

/* Display + Stop/Start/Reset Controls */

#time-left {
  font-size: 17.5rem;
  text-align: center;
  background-color: rgb(150,180,175);
  padding: 5rem;
  border-radius: 5rem;
  box-shadow: 0.75rem 0.75rem rgb(121, 145, 141) inset;
}

#display-controls {
  margin: 3rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#timer-label {
  font-size: 6.25rem;
  text-align: center;
  padding-top: 0.5rem;
  background-color: rgb(150,180,175);
  border-radius: 2.5rem;
  height: 10rem;
  flex: 2;
  box-shadow: 0.75rem 0.75rem rgb(121, 145, 141) inset;
}

#timer-ssr {
  flex: 1;
  margin-left: 7.5rem;
  display: flex;
  justify-content: space-between;
}

/* Timer Length Controls */

.length-container {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
}

.inc-dec-btn-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 35rem;
  height: 15rem;
}

.break-container, 
.session-container {
  text-align: center;
/*   display: inline-block; */
  border: 0.5rem solid rgb(234,178,156);
  padding: 2.5rem;
  border-radius: 2.5rem;
  width: 48%;
}

.timer-length {
  font-size: 2em;
}

.break-container,
.inc-arrow {
  margin-right: 3rem;
}